[Unit]
Description=Terraria server service

[Service]
User=server
Group=server

PIDFile=/opt/terraria-service/server.pid

Type=forking
TimeoutStartSec=20
ExecStart=/opt/terraria-service/terraria start
TimeoutStopSec=20
ExecStop=/opt/terraria-service/terraria stop
