[Unit]
Description=Terraria server service
Wants=network-online.target
After=network.target network-online.target

[Service]
User=server
Group=server

PIDFile=/opt/terraria-service/server.pid

Type=forking
ExecStart=/opt/terraria-service/terraria start
ExecStop=/opt/terraria-service/terraria stop

[Install]
WantedBy=multi-user.target
