[Unit]
Description=Terraria server service

[Service]
User=terraria
Group=terraria

PIDFile=/opt/TerrariaService/server.pid

Type=forking
TimeoutStartSec=20
ExecStart=/opt/TerrariaService/terraria start
TimeoutStopSec=20
ExecStop=/opt/TerrariaService/terraria stop


[Install]
WantedBy=multi-user.target